<nav>
  <ul>
    <li>
      <a href='/'>Home</a>
    </li>
    <li>
      <a href='/registration'>Registration</a>
    </li>
    <li>
      <a href='/login'>Login</a>
    </li>
    <li>
      <a href='/drawing'>Drawing</a>
    </li>
  </ul>
</nav>
